body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-1 .grid {
    /*pointer-events: none; can definitely remove redundancy here */
}

.player-1 .occupied {
    background-color: grey;
}

.player-1.occupied.hit {
    background-color: red;
}

.hit {
    background: red;
}

.missed {
    background: blue
}

.disabled {
    pointer-events: none;
    cursor: default; /*can I remove some redundancy here?*/
}

.player-2 .grid{
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

.label {
    text-align: center;
}

.grid {
    border: 2px solid black;
    height: 40px;
    width: 40px; 
}

.grid:hover {
    opacity: 0.2
}

#carrier-y {
    width: 40px;
    height: 213px;
}

#carrier-x {
    height: 40px;
    width: 213px;
}

#battleship-y {
    width: 40px;
    height: 163px;
}

#battleship-x {
    height: 40px;
    width: 163px;
}

#cruiser-y {
    width: 40px;
    height: 123px;
}

#cruiser-x {
    width: 123px;
    height: 40px;
}

#submarine-y {
    width: 40px;
    height: 123px;
}

#submarine-x {
    height: 40px;
    width: 123px;
}

#patrol-boat-y {
    width: 40px;
    height: 90px;
}

#patrol-boat-x {
    height: 40px;
    width: 90px;
}

#test {
    height: 40px;
    width: 40px;
}